* {
    font-family: 'Lucida Sans Unicode';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}


a  {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    font-size: 20px;
   
}

#mainsite{
    font-size: 1.8rem;
    font-weight: 700;
}
nav ul li a:hover {
    font-weight: bold; 
    text-decoration: underline;
    text-decoration-color: limegreen ;
    text-underline-offset: 5px;
}
h1, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: black;
}

#carshare {
    font-size: 1.8rem;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#types{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 500px;
}
#passenger, #delivery{
    font-size: 20px;
    border: solid white 3px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    background-color: #32cd32;
    
}